.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  align-items: center;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #0179C5;
  margin: 0 auto;
  font-size: larger;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;

  .row {
    width: 100%;
    height: 80vh;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;

    awf-weather-card {
      width: 100%; // Hace que las tarjetas se expandan para llenar la columna
      max-width: 85%; // Ajusta según sea necesario para mantener un pequeño margen
      margin: 10px; // Añade un margen alrededor de las tarjetas
      border-radius: 15px
    }

    .card {
      width: 100%;
      height: 100%;
      border-radius: 15px; // Añadir un radio de borde a la clase .card
    }
  }
}
